@page "/devices"

@using Microsoft.Maui.Devices
@inject BatteryService BatteryService
@implements IDisposable

<div>
    <h1>Your Devices</h1>

    <div class="card text-bg-dark" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">@DeviceInfo.Current.Name</h5>
            <p class="card-text">Battery: @BatteryService.BatteryLevel.ToString("P0")</p>
            <p class="card-text">Status: @BatteryService.BatteryStatus</p>
        </div>
    </div>
</div>

@code {
    private System.ComponentModel.PropertyChangedEventHandler? batteryChangedHandler;

    protected override void OnInitialized()
    {
        batteryChangedHandler = (_, _) => _ = InvokeAsync(StateHasChanged);
        BatteryService.PropertyChanged += batteryChangedHandler;
    }

    public void Dispose()
    {
        if (batteryChangedHandler is not null)
        {
            BatteryService.PropertyChanged -= batteryChangedHandler;
        }
    }
}


