@page "/devices"

@inject BatteryService BatteryService
@implements IDisposable

<div>
    <h1>Your Devices</h1>

    @if (BatteryService.Devices.Count == 0)
    {
        <p>No devices found for this user.</p>
    }
    else
    {
        @foreach (var device in BatteryService.Devices)
        {
            <div class="card text-bg-dark mb-3" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">@device.Name</h5>
                    <p class="card-text">Battery: @device.Battery%</p>
                    <p class="card-text">Status: @device.Status</p>
                </div>
            </div>
        }
    }
</div>

@code {
    private System.ComponentModel.PropertyChangedEventHandler? batteryChangedHandler;

    protected override void OnInitialized()
    {
        batteryChangedHandler = (_, _) => _ = InvokeAsync(StateHasChanged);
        BatteryService.PropertyChanged += batteryChangedHandler;
    }

    public void Dispose()
    {
        if (batteryChangedHandler is not null)
        {
            BatteryService.PropertyChanged -= batteryChangedHandler;
        }
    }
}


